@using InventoryManagementApp.Domain.Enums;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WarehouseCreateVM

<div class="form-floating mb-8 p-4">
    <div class="container-fluid pt-8 px-8">

        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Add Warehouse</h4>
                <form method="post" asp-action="Create" asp-controller="Warehouse">
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for=Name placeholder="Name" aria-label="NameOfWarehouse">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for=Description placeholder="Description" aria-label="Description">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example" asp-for=City asp-items="@Html.GetEnumSelectList<City>()">
                                <option selected>Choose City...</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for=District placeholder="District" aria-label="District">
                        </div>
                    </div>
                    <br />
                 
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3" id="design">
                            <a class="btn btn-danger mx-2 form-button" asp-controller="Warehouse" asp-action="ListActive">Cancel</a>
                            <input type="submit" value="Save" class="btn btn-success mx-2 form-button" />
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>




