@model WarehouseUpdateVM

<form method="post" asp-action="ShelfCreate" asp-controller="Warehouse">
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" asp-for=newShelf.Name placeholder="Name" aria-label="Name">
        </div>
    </div>
   
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" asp-for="newShelf.Description" placeholder="Description" aria-label="Description">
        </div>
    </div>
    
    <div class="form-floating mb-6" style="display:none">
        <div class="input-group mb-3">
            <input type="text" class="form-control" asp-for=newShelf.WarehouseID readonly placeholder="District" aria-label="District" value=@Model.ID>
        </div>
    </div>
   

    <button type="submit" class="btn btn-outline-success m-2 float-right">Add Shelf</button>

</form>