
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BatchCreateVM
<h1>Create</h1>

<div class="form-floating mb-8 p-4">
    <div class="container-fluid pt-8 px-8">

        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Add Batch</h4>
                <form method="post" asp-action="Create" asp-controller="Batch">
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for=BatchCode placeholder="Batch Code" aria-label="BatchCode">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <input type="date" class="form-control" asp-for="ProductionDate" aria-label="ProductionDate" value="">
                        </div>
                    </div>
                    <br />
                    <div class="form-floating mb-6">
                        <div class="input-group mb-3">
                            <input type="date" class="form-control" asp-for="ExpireDate" aria-label="ExpireDate" value="">
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline-success m-2">Add Batch</button>

                </form>

            </div>
        </div>
    </div>
</div>