@using InventoryManagementApp.Presentation.Models.ViewModels.CategoryVMs;
@model CategoryCreateVM

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form class="form fv-plugins-bootstrap5 fv-plugins-framework" method="post">
                    @* Remove the unnecessary hidden input for ID if not needed *@

                    <div class="mb-2">
                        <label asp-for="CategoryName">Category Name</label>
                        <input id="categoryName" type="text" asp-for="CategoryName" class="form-control" placeholder="Name" />
                    </div>
                    <div class="mb-2">
                        <label asp-for="Description"></label>
                        <input type="text" asp-for="Description" class="form-control" placeholder="Description" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="btnAddCategory" type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on("click", "#btnAddCategory", function (event) {
        event.preventDefault();
        $.ajax({
            url: "/Good/CreateCategory",
            type: 'POST',
            data: {
                "categoryName": $("#categoryName").val()
            },
            success: function (response) {
                $('#staticBackdrop').modal('hide');
                $("#categoryDropdown").append(`<option value="${response.value}">${response.text}</option>`);
                $("#categoryDropdown").val(response.value);
            },
        });
    });
</script>
