@using InventoryManagementApp.Presentation.Models.ViewModels.InventoryVMs;

@model List<InventoryListVM>


<table class="table" id="example">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Good Name</th>
            <th scope="col">Amount</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var group in ViewBag.GroupedInventoryByGoodId)
        {
            <tr>
                <th scope="row"></th>
                <td>@group.GoodName</td>
                <td>@group.TotalAmount</td>

            </tr>
        }
    </tbody>
</table>




