@using InventoryManagementApp.Presentation.Models.ViewModels.ShelfVMs;
@{
    ViewData["Title"] = "Create";
}

 @model ShelfCreateVM

<h1>Create</h1>

<form enctype="multipart/form-data" method="post" asp-action="Create" asp-controller="Shelf">
    



</form>