@model CategoryUpdateVM

<!-- Modal -->

<form method="post" asp-action="CreateSubCategory" asp-controller="Category">
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Name</span>
            </div>
            <input type="text" class="form-control" asp-for=newSubCategory.SubCategoryName placeholder="Name" aria-label="Name">
        </div>
    </div>

    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Description</span>
            </div>
            <input type="text" class="form-control" asp-for="newSubCategory.Description" placeholder="Description" aria-label="Description">
        </div>
    </div>

    <div class="form-floating mb-6 d-none">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Category ID</span>
            </div>
            <input type="text" id="categoryId" class="form-control" asp-for=newSubCategory.CategoryID readonly placeholder="Category ID" aria-label="Category ID" value="">
        </div>
    </div>
    <br />
    <div class="form-floating mb-6">
        <div class="input-group mb-3" id="design">
            <a class="btn btn-danger mx-2 form-button" data-bs-dismiss="modal">Cancel</a>
            <input id="createSubCategorySubmit" type="submit" value="Save" class="btn btn-success mx-2 form-button" />
        </div>
    </div>

</form>

