

@model CategoryUpdateVM

<!-- Modal -->
<div class="modal fade" id="staticBackdropSubCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">SubCategory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form class="form fv-plugins-bootstrap5 fv-plugins-framework" method="post">
                    @* Remove the unnecessary hidden input for ID if not needed *@

                    <div class="mb-2">
                        <label asp-for="newSubCategory.SubCategoryName">SubCategory Name</label>
                        <input type="text" asp-for="newSubCategory.SubCategoryName" class="form-control" placeholder="Name" />
                    </div>
                    <div class="mb-2">
                        <label asp-for="newSubCategory.Description"></label>
                        <input type="text" asp-for="newSubCategory.Description" class="form-control" placeholder="Description" />
                    </div>
                    <div class="mb-2">
                        <label asp-for="newSubCategory.CategoryID"></label>
                        <input type="text" asp-for="newSubCategory.CategoryID" readonly class="form-control" placeholder="Description" value="@Model.ID" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" formaction="/Category/CreateSubCategory">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

