@using InventoryManagementApp.Domain.Enums;
@model CategoryUpdateVM

<form method="post" asp-action="UpdateSubCategory" asp-controller="Category">
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">ID</span>
            </div>
            <input type="text" class="form-control" readonly itemid="id" asp-for="@Model.updateSubCategory.CategoryID" placeholder="ID" aria-label="ID">
        </div>
    </div>
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">ID</span>
            </div>
            <input type="text" class="form-control" readonly itemid="id" asp-for="updateSubCategory.ID" placeholder="ID" aria-label="ID">
        </div>
    </div>
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Name</span>
            </div>
            <input type="text" id="name" class="form-control" asp-for="updateSubCategory.SubCategoryName" placeholder="Name" aria-label="Name">
        </div>
    </div>
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Description</span>
            </div>
            <input type="text" class="form-control" id="decription" asp-for="updateSubCategory.Description" placeholder="Description" aria-label="Description">
        </div>
    </div>

    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Status</span>
            </div>
            <select class="form-select" id="status" asp-for="updateSubCategory.Status" asp-items="@Html.GetEnumSelectList<Status>()">
                <option selected style="display:none"></option>
            </select>
        </div>
    </div>
    <br />
    <div class="form-floating mb-6">
        <div class="input-group mb-3" id="design">
            <a class="btn btn-danger mx-2 form-button" data-bs-dismiss="modal">Cancel</a>
            <input type="submit" value="Save" class="btn btn-success mx-2 form-button" />
        </div>
    </div>

</form>



