@using InventoryManagementApp.Domain.Enums;
@model CategoryUpdateVM

<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel"> Update SubCategory</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form method="post" asp-action="UpdateSubCategory" asp-controller="Category">
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">ID</span>
            </div>
            <input type="text" class="form-control" readonly itemid="id" asp-for="updateSubCategory.ID" placeholder="ID" aria-label="ID">
        </div>
    </div>
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Name</span>
            </div>
            <input type="text" id="name" class="form-control" asp-for="updateSubCategory.SubCategoryName" placeholder="Name" aria-label="Name">
        </div>
    </div>
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Description</span>
            </div>
            <input type="text" class="form-control" id="decription" asp-for="updateSubCategory.Description" placeholder="Description" aria-label="Description">
        </div>
    </div>
    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Category ID</span>
            </div>
            <input type="text" id="warehouseid" class="form-control" asp-for=updateSubCategory.CategoryID readonly aria-label="">
        </div>
    </div>

    <div class="form-floating mb-6">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:120px">Status</span>
            </div>
            <select class="form-select" id="status" asp-for="updateSubCategory.Status" asp-items="@Html.GetEnumSelectList<Status>()">
                <option selected style="display:none"></option>
            </select>
        </div>
    </div>
@*     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
    <button type="submit" class="btn btn-outline-success m-2 float-right">Update SubCategory</button>

</form>



